.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 450px;
  }
  
  .section {
    display: grid;
    gap: 4px;
  }
  
  .title {
    margin: 0;
    font-size: 16px;
  }
  